<!-- <header class="header-6" *ngIf="isLoggedIn$ | async as isLoggedIn"> -->
<header class="header-6" *ngIf="isLoggedIn$ | async">
    <div class="branding">
        <a class="nav-link">
            <clr-icon shape="home" size="24"></clr-icon>
            <span class="title">Iaora Web Solutions</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="nav-link nav-text">Facturation</a>
        <a href="javascript://" class="nav-link nav-text" routerLink="/customers" >Client</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings" routerLink="/parameters" routerLinkActive="active">
            <clr-icon shape="cog"></clr-icon>
        </a>
        <a href="javascript://" class="nav-link nav-icon" aria-label="logout" (click)="logOut()">
            <clr-icon shape="logout"></clr-icon>
        </a>
    </div>
</header>